body {
  margin: 0;
}

.activity-container {
  background-color: rgb(249, 247, 247);
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  width: 200px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.653),
    0 6px 20px 0 rgba(204, 204, 204, 0.432);
}
.activity-list ul {
  display: flex;
  flex-direction: column;
}
.activity-list li {
  list-style-type: none;
  text-align: center;
  width: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.add-activity input {
  margin: 5px;
  border-radius: 5px;
}
