body {
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.margin {
  margin: 10px;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 50px 0;
}

.activity-list {
}

.add-activity input {
  margin: 5px;
  border-radius: 5px;
}

#add-activity-button {
  background-color: green;
}
.button-open {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(3, 183, 0);
}
.button-close {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: black;
}
nav {
  border-bottom: 1px solid grey;
  padding: 20px;
  display: flex;

  justify-content: center;
}

.nav-link {
  padding: 0 15px;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border: 1px solid lightcoral;
  text-align: center;
  width: 100px;
  height: 100;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
}
