body {
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.margin {
  margin: 10px;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 50px 0;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 150px;
  background-color: rgb(249, 247, 247);
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.653),
    0 6px 20px 0 rgba(204, 204, 204, 0.432);
}

.add-activity input {
  margin: 5px;
  border-radius: 5px;
}

#add-activity-button {
  background-color: green;
}
